.navbar {
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 50px;
    min-height: 100px;
    float: left;
    text-align: left;
    justify-content: space-between;
    background-color: transparent;
    border-bottom: 1px rgb(224, 224, 224);
    border-bottom-style: solid;

  }

 .logonetflix{
  height: 85px;
  width: 167px;
  vertical-align: middle;
  color: red;
  fill: #e50914;
  margin-left: 3%;
  float: left;
 }
 .et2{
    text-align: inherit;
    font-size: 13px;
    text-align: left;

 }
 .se{
  font-size: x-large;
  font-weight: 700;
  text-align: left;
 }
 .ses{
  font-size: large;
  font-weight: 400;
  text-align: left;
  padding-left: 30%;
 }
 .dec{
  float: right;
  color: #333;
  font-weight: 700;
  font-size: 19px;
  line-height: 90px;
  margin: 0 3%;
 }
  .header{
    float: left;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  }
  .h3{
    color: white;
    font-size: large;
    float: left;

  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 180px;
    z-index: 1


  }
  
  .dec {
    padding: 7px 7px;
    border-radius: 3px;
    font-weight: bold;    
  }
  .et{
    margin-top: 30px;
    transform: none;
    opacity: 1;
    transition-duration: 250ms;
    padding-left: 35%;
    float: left;
    width: 60%;

    h1{
      text-align: left;
      font-size: small;

      margin-bottom: 15px;
      font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    }
    h3{
      font-size: xx-large;
      font-weight: bold;
      text-align: left;
      margin-bottom: 20px;
      font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

    }
    ul li{
      font-size: large;
      text-align: left;
      margin-bottom: 7px;
      font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

    }
    .checkmark_group_icon{
      margin-right: 8px;
      color: red;
    }
    svg{
      color: #e50914;
    }
  }


  .login {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    width: 385px;
    height: 470px;
    padding-left: 40%;    
   form{
    padding-left: 40%;    

   }
  }
  .login__title {
    font-size: 2.2rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -7px;
    margin-bottom: 19px;
  }
  .login__group {
    position: relative;
    z-index: 10;
    display: flex;
    padding-left: 30%;    
  }
  .form{
    padding-left: 36%;    

   }

  .login__group__label {
    position: absolute;
    z-index: 150;
    color: #b3b3b3;
    font-size: 0.9rem;
    top: 30px;
    left: 18px;
    transition: all 300ms ease-in;
    will-change: transform;
  }
  .login__group__input {
    width: 400px;
    position: relative;
    z-index: 100;
    background: rgba(51, 51, 51, 0);
    border-radius: 1px black;
    opacity: 1;
    font-size: 1rem;
    color: #fff;
    line-height: 50px;
    margin-bottom: 10px;
    
  }
  .login__group__input:focus + .login__group__label {
    font-size: 0.7rem;
  }

  .login__sign_in {
    margin: 24px 0 12px;
    color: #fff;
    background: #e50914;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 409px;
    height: 50px;

  }
  .login__secondary_cta {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
  }
  .login__secondary_cta__text {
    opacity: 1;
    font-size: 0.9rem;
    color: #b3b3b3;
    text-decoration: none;
    will-change: transform;
    position: absolute;
    left: 26px;
    top: 4px;
  }
  .login__secondary-cta__text_need_help {
    transition: all 0.3s ease-in;
  }
  .login__secondary_cta__text_need_help:hover {
    text-decoration: underline;
  }